name: Security Test

on: [push]

jobs:
  security-test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install PyntCLI
        run: python -m pip install --upgrade pyntcli

      - name: Get GOAT Collection
        run: curl https://raw.githubusercontent.com/pynt-io/pynt/main/goat_functional_tests/goat.postman_collection.json -o goat.json

      - name: Run Pynt with Newman Integration
        run: pynt newman --collection goat.json

